<h1>Editing Book</h1>
<% if @book.errors.any? %>
  <div id="error_explanation">
    <h2>><%= @book.errors.count %>errors prohibited this book from being saved:</h2>
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model:@book, local: true do |f| %>
  <div class="field">
    <div class="field_with_errors">
      <label for="book_title"><strong>Title</strong></label> 
    </div>
    <div class="field_with_errors">
      <%= f.text_field :title %>  
    </div>
  </div>

  <div class="field">
    <div class="field_with_errors">
      <label for="book_body"><strong>Body</strong></label>
    </div>
    <div class="field_with_errors">
      <%= f.text_area :body %>
    </div>
  </div>
  
  <div class="actions">
    <%= f.submit "Update Book" %>  
  </div>
  
<% end %>

  <a><%= link_to "Show", book_path(@book.id) %></a> |
  <a><%= link_to "Back", "/books" %></a>